#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
DH_VERBOSE = 1

# to build the source into compiled programs and formatted
# documents in the build-tree
build: add_miscellaneous get-orig-source build-arch
.PHONY: build

# to build the source into arch-dependent compiled programs 
# in the build-tree.
build-arch: add_miscellaneous #patch-stamp
	# Verifica que se realice la llamda desde el directorio correcto
	dh_testdir 
	# Aplica los parches listados en debian/patches/00list
	$(MAKE) extract-source
	dh_dpatch_patch
	# Ejecuta el target 'build' en el Makefile ubicado en 'seismic-unix43R8'
	# para construir los binarios desde las fuentes
	$(MAKE) build
	
.PHONY: build-arch
# to build the source into arch-independent formatted
# documents in the build-tree.

build-indep:
.PHONY: build-indep
# to clean all compiled, generated, and useless 
# files in the build-tree.

clean:  add_miscellaneous #get-orig-source
	dh_clean
	dh_dpatch_unpatch || true
	$(MAKE) clean || true
	# Remove Makefile
	if [ -e Makefile ] ; \
		then \
	rm Makefile ; \
		fi;

.PHONY: clean

add_miscellaneous: debian/miscellaneous/Makefile
	cp debian/miscellaneous/Makefile .
.PHONY: add_miscellaneous

# remove_miscellaneous:
# 	if [ -e Makefile ] ; \
# 		then \
# 	rm Makefile ; \
# 		fi;
# .PHONY: remove__miscellaneous

#to install files into a file tree for each binary package 
# under the debian directory. If defined, binary* targets
# effectively depend on this target. (Optional)
install: 
	# Verifica que se realice la llamda desde el directorio correcto
	dh_testdir 
	# Verifica que el usuario que ejecuta la instrucción sea root
	dh_testroot
	 # Realiza una limpieza para preparar la construcción de un paquete binario - reemplaza a dh_clean -k
	dh_prep
	#Crea subdirectorios en los directorios de construcción del paquete
	#dh_installdirs -a
	# directiva para instalar los archivos listados en packagename.install
	dh_install
.PHONY: install

#target: to create arch-independent 
# (Architecture: all) binary packages in the parent directory.
binary-indep: install
.PHONY: binary-indep

# to create arch-dependent binary packages in the 
# (Architecture: any) parent directory
binary-arch: install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb
.PHONY: binary-arch

# to create all binary packages (effectively a 
# combination of binary-arch and binary-indep targets
binary: binary-arch

#Obtener la última versión desde el repositorio de las fuentes
get-orig-source:
	 uscan --noconf --verbose --report --pasv --force-download --rename --download-current-version --destdir=..
.PHONY: get-orig-source
